version: 2
jobs:
   build:
     working_directory: ~/test
     docker:

       ## PHP Container With Composer, Drush, And Required PHP
       ## Extensions To Allow Drush To Do A Site Install
       - image: ohearonkg/circle_ci_php:0.1

       ## DEFAULTS FOR THIS IMAGE ##
       - image: mysql
         environment:
           MYSQL_ROOT_PASSWORD: ''
           MYSQL_ALLOW_EMPTY_PASSWORD: yes
           MYSQL_DATABASE: drupal

     steps:
       - checkout
       - run: composer install
       - run: cd web/ && ../vendor/bin/drush site-install --db-url=mysql://root:@127.0.0.1/drupal --yes
       - run: cd web/ && ../vendor/bin/drush config-import
