version: 2
jobs:
   build:
     working_directory: ~/test
     docker:
       # This Image Has Composer Magically #
       - image: notnoopci/php:7.1.5-browsers

       ## DEFAULTS FOR THIS IMAGE ##
       - image: mysql
         environment:
           MYSQL_ROOT_PASSWORD: admin
           MYSQL_ALLOW_EMPTY_PASSWORD: yes
           MYSQL_DATABASE: drupal

     steps:
       - checkout
       - run: sudo docker-php-ext-install pdo_mysql
       - run: composer install
       - run: composer global require drush/drush:dev-master
       - run: cd web/ && ../vendor/bin/drush site-install --db-url=mysql://root:@localhost/drupal
