version: 2
jobs:
   build:
     working_directory: ~/web
     docker:
       - image: circleci/php
     steps:
       - checkout
       - run: composer install --no-interaction
       - run: echo "hello world"
