version: 2
jobs:
   build:
     working_directory: ~/web
     docker:
       # This Image Has Composer Magically #
       - image: notnoopci/php:7.1.5-browsers

       ## DEFAULTS FOR THIS IMAGE ##
      # MYSQL_ALLOW_EMPTY_PASSWORD=true \
      # MYSQL_DATABASE=circle_test \
      #M YSQL_HOST=127.0.0.1 \
      # MYSQL_ROOT_HOST=% \
      # MYSQL_USER=root
       - image: circleci/mysql:5
       
     steps:
       - checkout
       - run: composer install
       - run: composer global require drush/drush:dev-master
